<!DOCTYPE html>
<html>
<head>
    <title>Company Server</title>
</head>
<body>

    <h1>Company Web Server</h1>

    <p>Application: {{ app_name }}</p>
    <p>Environment: {{ app_environment }}</p>
    <p>Hostname: {{ ansible_hostname }}</p>
    <p>Operating System: {{ ansible_distribution }}</p>
    <p>Server IP: {{ ansible_default_ipv4.address }}</p>
    <p>Status: Healthy</p>

</body>
</html>
